<%- include('../partials/head')%>
</head>
<body class="bg-gray-100 min-h-screen">
 <%- include('../partials/nav')%>
  <main class="flex justify-center mt-16">
    <div class="bg-white shadow-md rounded-lg px-12 py-10 text-center">
      <h1 class="text-3xl font-bold text-red-500 mb-2">My Bookings</h1>
      <p class="text-gray-600">Meow meow</p>
      
    </div>
  </main>
</body>
</html>